<!-- Shopping cart -->
<div class="modal" tabindex="-1" role="dialog" id="modal" style="top: 20vh;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">已點項目</h5>
      </div>
      <div class="modal-body">
        <table class="m-auto w-75">
            <thead>
                <tr>
                    <th>品名</th>
                    <th class="text-center">數量</th>
                    <th class="text-center">單價</th>
                </tr>
            </thead>
            <tbody id="shopping-cart">

            </tbody>
        </table>
      </div>
      <p class="text-end me-3"id="total"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm">送出訂單</button>
        <button type="button" class="btn btn-danger btn-sm" onclick="clearCart()">清空點單</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>