@page
@model fungoodMVC.Pages.Index
@{
    ViewData["Title"] = "Index";
}


<div id="fungood-index" class=" position-relative">
        <div class="m-2  resto-info">
            <ul class="list-group-flush p-auto">
                <li class="list-group-item bg-transparent">
                    <i class="fa-solid fa-map-location-dot"></i>
                    &emsp;
                    <a href="https://goo.gl/maps/d9eG8K4caQoxSGDF7" class="text-decoration-none">
                    台中市西區精美街78號
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <i class="fa-solid fa-mobile"></i> 
                    &emsp;
                    0966 839 758
                </li>
                <li class="list-group-item bg-transparent">
                    <i class="fa-solid fa-envelope"></i>
                    &emsp;
                    fungood.tw@gmail.com
                </li>
            </ul>
        </div>
        <div class="position-absolute m-2  slogan" >
            <p>傳承三代人的家常料理</p>
            <p>嚴選豐富在地農特產品</p>
            <p>融入多方元素的構想</p>
            <p>創新出台灣食材的美好價值</p>
            <p>「 飯穀 」將呈獻最真的台灣新滋味</p>
        </div>
</div>